  .antd-box {
      border: 1px solid #ebeef5;
      background-color: #fff;
      -webkit-box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
      box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
      color: #303133;
      padding:20px;
  }

  .text-center {
    text-align:center;
  }
  .index-card {
    width: 800px;
    margin: 100px auto;
  }
