<?xml version="1.0"?>
<configuration>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.6.2"/>
    <httpRuntime targetFramework="4.6"/>
  </system.web>
  <system.webServer>
    <staticContent>
        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff2" mimeType="font/x-woff2" />
        <remove fileExtension=".mp4" />
        <mimeMap fileExtension=".mp4" mimeType="video/mpeg" />
    </staticContent>
    <rewrite>
      <rules>
        <rule name="Hide .html ext">
          <match ignoreCase="true" url="^(.*)"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
            <add input="{URL}" pattern="^(.*?\/template.*)" negate="true"/>
            <add input="{REQUEST_FILENAME}.html" matchType="IsFile"/>
          </conditions>
          <action type="Rewrite" url="{R:0}.html"/>
        </rule>
        <rule name="Redirecting .html ext" stopProcessing="true">
          <match url="^(.*).html"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{URL}" pattern="^(.*?\/template.*)" negate="true"/>
            <add input="{URL}" pattern="(.*).html"/>
          </conditions>
          <action type="Redirect" url="{R:1}"/>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
